@import "tailwindcss";
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
html body {
  overflow-x: hidden;
  background: black;
}

body {
  position: relative;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  scrollbar-width: none;
}

.netflix-play {
  background: white;
  color: black;
  width: 38px;
  height: 38px;
  border-radius: 999px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
}

.netflix-play:hover {
  background: #e5e5e5;
}

.netflix-circle {
  background: rgba(42, 42, 42, 0.8);
  color: white;
  width: 38px;
  height: 38px;
  border-radius: 999px;
  border: 2px solid rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.netflix-circle:hover {
  border-color: white;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
